In [45]:
import textstat

text = "Chess is a two-player strategy board game played on a chessboard, a checkered gameboard with 64 squares arranged in an 8×8 grid. The game is played by millions of people worldwide. Chess is believed to be derived from the Indian game chaturanga some time before the 7th century. Chaturanga is also the likely ancestor of the Eastern strategy games xiangqi, janggi, and shogi. Chess reached Europe by the 9th century, due to the Umayyad conquest of Hispania. The pieces assumed their current powers in Spain in the late 15th century; the modern rules were standardized in the 19th century. "
print(text)

Chess is a two-player strategy board game played on a chessboard, a checkered gameboard with 64 squares arranged in an 8×8 grid. The game is played by millions of people worldwide. Chess is believed to be derived from the Indian game chaturanga some time before the 7th century. Chaturanga is also the likely ancestor of the Eastern strategy games xiangqi, janggi, and shogi. Chess reached Europe by the 9th century, due to the Umayyad conquest of Hispania. The pieces assumed their current powers in Spain in the late 15th century; the modern rules were standardized in the 19th century.

In [46]:
textstat.gunning_fog(text)

15.89

In [118]:
import textstat as ts
import pandas as pd
import re

In [139]:
file = pd.read_csv("QueryResults.csv")

In [130]:
file.head()

         Id                                               Body
0  19963220  <p>I have an edit button and a dropdownlist in...
1  19963221  <p>Everything is ok in your code except one th...
2  19963223  <p>Turns out this already has an answer <a hre...
3  19963224  <p>I am getting an error when running my php c...
4  19963225  <p>It's a <code>this</code> value issue, make ...

In [103]:
help(re.compile)

Help on function compile in module re:

compile(pattern, flags=0)
    Compile a regular expression pattern, returning a pattern object.

In [104]:
help(re.sub)

Help on function sub in module re:

sub(pattern, repl, string, count=0, flags=0)
    Return the string obtained by replacing the leftmost
    non-overlapping occurrences of the pattern in string by the
    replacement repl.  repl can be either a string or a callable;
    if a string, backslash escapes in it are processed.  If it is
    a callable, it's passed the match object and must return
    a replacement string to be used.

In [157]:
pattern = re.compile('<.*?>')
def remove_tags(row):
    row = re.sub(pattern, '', row)
    return row

code = re.compile('<pre><code>[\s\S]*?<\/code><\/pre>')
def remove_code(row):
    row = re.sub(code, '', row)
    return row

def remove_inline_code(row):
    row = re.sub('<code>[\s\S]*?<\/code>', ' ', row)
    return row

def remove_para_change(row):
    row = re.sub('\n\n', ' ', row)
    return row

In [158]:
##file['Body'] = file['Body'].apply(remove_tags)
file['Body'] = file['Body'].apply(remove_code)
file['Body'] = file['Body'].apply(remove_inline_code)
file['Body'] = file['Body'].apply(remove_tags)
file['Body'] = file['Body'].apply(remove_para_change)

In [159]:
def calculate_gfi(row):
    gfi = ts.gunning_fog(row)
    return gfi

In [110]:
file['gfi'] = ''
file['gfi'] = file['Body'].apply(calculate_gfi)

In [160]:
file.head()

         Id                                               Body    gfi
0  19963220  I have an edit button and a dropdownlist insid...  30.93
1  19963221  Everything is ok in your code except one thing...  11.36
2  19963223  Turns out this already has an answer here, but...  17.56
3  19963224  I am getting an error when running my php code...  13.89
4  19963225  It's a   value issue, make sure you are bindin...  22.25

In [152]:
file['Body'][0]

'I have an edit button and a dropdownlist inside a formview. I am using Linq To Entities to get the data I need to work with and have no problem populating and viewing the formview itemtemplate.   However, the dropdownlist control ( ) is only in the  (I use a textbox in the   to display the current value) and I am having a problem getting the value initially shown in the itemtemplate to appear when the edititemtemplate is shown.  All I get right now is the dropdownlist with the first value shown.  I want the value from the itemtemplate to appear by default and the user can change it if they wish.  Here is the code that populates the dropdownlist.  Anyone have a suggestions?  DropDownlist in FormView... \n'